In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
charity_df = pd.read_csv('charity_data.csv')
charity_df.head()

C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop unneeded columns
charity_df = charity_df.drop(["EIN", "NAME", "APPLICATION_TYPE", "CLASSIFICATION"], axis=1)
charity_df

,AFFILIATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Independent,ProductDev,Association,1,0,N,5000,1
1,Independent,Preservation,Co-operative,1,1-9999,N,108590,1
2,CompanySponsored,ProductDev,Association,1,0,N,5000,0
3,CompanySponsored,Preservation,Trust,1,10000-24999,N,6692,1
4,Independent,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...
34294,Independent,ProductDev,Association,1,0,N,5000,0
34295,CompanySponsored,ProductDev,Association,1,0,N,5000,0
34296,CompanySponsored,Preservation,Association,1,0,N,5000,0
34297,Independent,ProductDev,Association,1,0,N,5000,1
34298,Independent,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Generate our categorical variable list
charity_cat = charity_df.dtypes[charity_df.dtypes == "object"].index.tolist()
# Check the number of unique values in each column
charity_df[charity_cat].nunique()

AFFILIATION               6
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(charity_df[charity_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_cat)
encode_df.head()

,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
charity_df = charity_df.merge(encode_df,left_index=True, right_index=True)
charity_df = charity_df.drop(charity_cat,1)
charity_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = charity_df["IS_SUCCESSFUL"].values
X = charity_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [7]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  12
hidden_nodes_layer2 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="tanh")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                348
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 78
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 433
Trainable params: 433
Non-trainable params: 0
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\david\anaconda3\envs\mlenv\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [10]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=50)

Epoch 1/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.6934 - acc: 0.5293
Epoch 2/50
25724/25724 [==============================] - 1s 44us/sample - loss: 0.6915 - acc: 0.5321
Epoch 3/50
25724/25724 [==============================] - 1s 44us/sample - loss: 0.6915 - acc: 0.5287
Epoch 4/50
25724/25724 [==============================] - 1s 44us/sample - loss: 0.6915 - acc: 0.5321
Epoch 5/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.6915 - acc: 0.5286
Epoch 6/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6915 - acc: 0.5321
Epoch 7/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6913 - acc: 0.5321
Epoch 8/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6914 - acc: 0.5321
Epoch 9/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6913 - acc: 0.5321
Epoch 10/50
25724/25724 [==============================] - 1s 44us/sample - loss: 0.6913 - acc: 0.5321
Epoch 11/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6912 - acc: 0.5321
Epoch 12/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6914 - acc: 0.5321
Epoch 13/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6913 - acc: 0.5321
Epoch 14/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6912 - acc: 0.5321
Epoch 15/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6913 - acc: 0.5321
Epoch 16/50
25724/25724 [==============================] - 1s 51us/sample - loss: 0.6912 - acc: 0.5321
Epoch 17/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.6912 - acc: 0.5321
Epoch 18/50
25724/25724 [==============================] - 1s 44us/sample - loss: 0.6912 - acc: 0.5321
Epoch 19/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6912 - acc: 0.5321
Epoch 20/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6913 - acc: 0.5321
Epoch 21/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6912 - acc: 0.5321
Epoch 22/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6912 - acc: 0.5321
Epoch 23/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6912 - acc: 0.5321
Epoch 24/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6913 - acc: 0.5321
Epoch 25/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6913 - acc: 0.5321
Epoch 26/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.6911 - acc: 0.5321
Epoch 27/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.6912 - acc: 0.5321
Epoch 28/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6912 - acc: 0.5321
Epoch 29/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6912 - acc: 0.5321
Epoch 30/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6911 - acc: 0.5321
Epoch 31/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6912 - acc: 0.5321
Epoch 32/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6913 - acc: 0.5321
Epoch 33/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.6912 - acc: 0.5321
Epoch 34/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.6912 - acc: 0.5321
Epoch 35/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6913 - acc: 0.5321
Epoch 36/50
25724/25724 [==============================] - 1s 49us/sample - loss: 0.6913 - acc: 0.5321
Epoch 37/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6913 - acc: 0.5321
Epoch 38/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.6912 - acc: 0.5321
Epoch 39/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.6913 - acc: 0.5321
Epoch 40/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - acc: 0.5321
Epoch 41/50
25724/25724 [==============================] - 1s 45us/sample - loss: 0.6912 - acc: 0.5321
Epoch 42/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6911 - acc: 0.5321
Epoch 43/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6912 - acc: 0.5321
Epoch 44/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6913 - acc: 0.5321
Epoch 45/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6912 - acc: 0.5321
Epoch 46/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6912 - acc: 0.5321
Epoch 47/50
25724/25724 [==============================] - 1s 48us/sample - loss: 0.6912 - acc: 0.5321
Epoch 48/50
25724/25724 [==============================] - 1s 50us/sample - loss: 0.6913 - acc: 0.5321
Epoch 49/50
25724/25724 [==============================] - 1s 47us/sample - loss: 0.6912 - acc: 0.5321
Epoch 50/50
25724/25724 [==============================] - 1s 46us/sample - loss: 0.6912 - acc: 0.5321

In [11]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.6909 - acc: 0.5332
Loss: 0.6909464760354934, Accuracy: 0.5331778526306152